@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  @apply lg:mx-auto lg:px-24 xl:px-48 px-5;
}
.bg-gradient {
  @apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600;
}
.text-gradient {
  @apply bg-clip-text bg-gradient text-transparent;
}
.section {
  @apply pt-28 xl:pt-28 2xl:pt-44;
}

.text-content {
  @apply dark:text-light-content text-dark-content;
}

body {
  overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

nav a.active {
  background: -webkit-linear-gradient(rgb(41, 89, 202), rgb(66, 234, 97));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 5px;
}

.greetings-container {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2); /* Glowing shadow */
  filter: blur(0px); /* Subtle blur */
  transition: filter 0.6s ease, box-shadow 0.6s ease; /* Smooth effect */
}

.transition-wrapper {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.kenburns {
  animation: kenburns 10s alternate infinite ease-in-out;
}
